<!-- add_server.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового сервера</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Добавление нового сервера</h1>
        <form action="/add_server" method="post">
            <div class="field">
                <label class="label">Имя</label>
                <div class="control">
                    <input class="input" type="text" name="Name" placeholder="Введите имя" required>
                </div>
            </div>
            <div class="field">
                <label class="label">IP-адрес</label>
                <div class="control">
                    <input class="input" type="text" name="IPAddress" placeholder="Введите IP-адрес" required>
                </div>
            </div>
            <div class="field">
                <label class="label">IPv6-адрес</label>
                <div class="control">
                    <input class="input" type="text" name="IP6Address" placeholder="Введите IP-адрес" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Локация</label>
                <div class="control">
                    <input class="input" type="text" name="Location" placeholder="Введите локацию">
                </div>
            </div>
            <div class="field">
                <label class="label">Хостер</label>
                <div class="control">
                    <input class="input" type="text" name="Hoster" placeholder="Введите хостера">
                </div>
            </div>
            <div class="field">
                <label class="label">Комментарий</label>
                <div class="control">
                    <textarea class="textarea" name="Comment" placeholder="Введите комментарий"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <button class="button is-success" type="submit">Добавить сервер</button>
                </div>
                <div class="control">
                    <a class="button is-link" href="/">Назад</a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
