<!-- add_server.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers Awesome - Adding new server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Adding new server</h1>
        <form action="/add_server" method="post">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name="Name" placeholder="Enter server name" required>
                </div>
            </div>
            <div class="field">
                <label class="label">IP-address</label>
                <div class="control">
                    <input class="input" type="text" name="IPAddress" placeholder="Enter IP-address" required>
                </div>
            </div>
            <div class="field">
                <label class="label">IPv6-address</label>
                <div class="control">
                    <input class="input" type="text" name="IP6Address" placeholder="Enter IP-address" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Location</label>
                <div class="control">
                    <input class="input" type="text" name="Location" placeholder="Enter location">
                </div>
            </div>
            <div class="field">
                <label class="label">Hosted</label>
                <div class="control">
                    <input class="input" type="text" name="Hoster" placeholder="Enter hosting name">
                </div>
            </div>
            <div class="field">
                <label class="label">Comment</label>
                <div class="control">
                    <textarea class="textarea" name="Comment" placeholder="Enter comment"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <button class="button is-success" type="submit">Add server</button>
                </div>
                <div class="control">
                    <a class="button is-link" href="/">Back</a>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Server Awesome</strong> by <a href="https://github.com/m0zgen" target="_blank">
            Yevgeniy Goncharov</a>. The source code is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC 4.0</a>.

        </p>
        <p>© Copyright <script>document.write(new Date().getFullYear());</script>
            <a href="https://lab.sys-adm.in" target="_blank">S-A (Alien) Lab</a>
        </p>
    </div>
</footer>
</body>
</html>
