<!-- edit_server.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Awesome - Edit exist server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Edit server</h1>
        <form action="/edit_server/{{ .server.ID }}" method="POST">
            <div class="field">
                <label class="label" for="Name">Name</label>
                <div class="control">
                    <input class="input" type="text" name="Name" value="{{ .server.Name }}" required><br>
                </div>
            </div>
            <div class="field">
                <label class="label" for="IPAddress" >IP-address</label>
                <div class="control">
                    <input class="input" type="text" name="IPAddress" value="{{ .server.IPAddress }}" required><br>
                </div>
            </div>
            <div class="field">
                <label class="label" for="IP6Address" >IPv6-address</label>
                <div class="control">
                    <input class="input" type="text" name="IP6Address" value="{{ .server.IP6Address }}" required><br>
                </div>
            </div>
            <div class="field">
                <label class="label" for="Location" >Location</label>
                <div class="control">
                    <input class="input" type="text" name="Location" value="{{ .server.Location }}" required><br>
                </div>
            </div>
            <div class="field">
                <label class="label" for="Hoster">Hosted</label>
                <div class="control">
                    <input class="input" type="text" name="Hoster" value="{{ .server.Hoster }}" required><br>
                </div>
            </div>
            <div class="field">
                <label class="label" for="Comment">Comment</label>
                <div class="control">
                    <textarea class="textarea" name="Comment">{{ .server.Comment }}</textarea>
                </div>
            </div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <button class="button is-success" type="submit">Update server info</button>
                </div>
                <div class="control">
                    <a class="button is-link" href="/">Back</a>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Server Awesome</strong> by <a href="https://github.com/m0zgen" target="_blank">
            Yevgeniy Goncharov</a>. The source code is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC 4.0</a>.

        </p>
        <p>© Copyright <script>document.write(new Date().getFullYear());</script>
            <a href="https://lab.sys-adm.in" target="_blank">S-A (Alien) Lab</a>
        </p>
    </div>
</footer>
</body>
</html>