<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servers Awesome - Inventory List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
</head>
<body>
<section class="section">
  <div class="container">
    <h1 class="title">Servers Inventory</h1>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>IP-address</th>
        <th>IPv6-address</th>
        <th>Location</th>
        <th>Hosted</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {{ range .servers }}
      <tr>
        <td class="field is-vcentered is-centered">{{ .ID }}</td>
        <td class="is-vcentered is-centered">{{ .Name }}</td>
        <td>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="text" value="{{ .IPAddress }}" id="ipAddressField_{{ .ID }}" readonly>
            </p>
            <p class="control">
              <a class="button is-info" onclick="copyToClipboard('ipAddressField_{{ .ID }}')">
                <span class="icon is-small">
                    <i class="fas fa-copy"></i>
                </span>
              </a>
            </p>
          </div>
        </td>
        <td>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" type="text" value="{{ .IP6Address }}" id="ip6AddressField_{{ .ID }}" readonly>
            </p>
            <p class="control">
              <a class="button is-info" onclick="copyToClipboard('ip6AddressField_{{ .ID }}')">
                <span class="icon is-small">
                    <i class="fa-solid fa-copy"></i>
                </span>
              </a>
            </p>
          </div>
        </td>
        <td class="field is-vcentered is-centered">{{ if .Location }}{{ .Location }}{{ else }}N/A{{ end }}</td>
        <td class="field is-vcentered is-centered">{{ if .Hoster }}{{ .Hoster }}{{ else }}N/A{{ end }}</td>
        <td class="field is-vcentered is-centered">{{ .Comment }}</td>
        <td>
          <div class="buttons">
            <a class="button is-info" href="/edit_server/{{ .ID }}">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a class="button is-danger" href="/delete_server/{{ .ID }}">
              <span class="icon is-small">
                    <i class="fa-solid fa-trash"></i>
                </span>
            </a>
          </div>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
    <a class="button is-success" href="/add_server">Add new server</a>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Server Awesome</strong> by <a href="https://github.com/m0zgen" target="_blank">
      Yevgeniy Goncharov</a>. The source code is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>.

    </p>
  </div>
</footer>

<script>
  function copyToClipboard(id) {
    /* Получаем текстовое поле с уникальным ID */
    var ipAddressField = document.getElementById(id);

    /* Выделяем текст в поле */
    ipAddressField.select();
    ipAddressField.setSelectionRange(0, 99999); /* Для мобильных устройств */

    /* Копируем текст в буфер обмена */
    document.execCommand("copy");

    /* Уведомление пользователя, что текст скопирован */
    alert("IP-адрес скопирован: " + ipAddressField.value);
  }
</script>

</body>
</html>
